{% extends 'base.html' %}

{% block page_content %}

<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col-md-12">
            <div class="form-card">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title text-center mb-0">Modificar contraseña</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_old_password">Contraseña actual:</label>
                                <input type="password" name="old_password" id="id_old_password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="id_new_password1">Nueva contraseña:</label>
                                <input type="password" name="new_password1" id="id_new_password1" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="id_new_password2">Confirmar nueva contraseña:</label>
                                <input type="password" name="new_password2" id="id_new_password2" class="form-control">
                            </div>
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
                                <a href="{% url 'index' %}" class="btn">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}