{% extends 'base.html' %}

{% block page_content %}

<div class="container">
    <div class="row justify-content-center min-vh-100">
        <div class="col-md-6 align-items-center mt-5">
            <div class="card-container mt-5">
                <div class="card">
                    <div class="card-header ">
                        <h2 class="card-title">Cambiar avatar</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group d-flex justify-content-center">
                                <label for="id_image">Imagen:</label>
                                {{ form.image }}
                            </div>
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-primary">Modificar</button>
                                <a href="{% url 'index' %}" class="btn">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}