{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<br>


<div class="container-md d-flex flex-column justify-content-center align-items-center min-vh-100">

<form method="POST" class="d-flex flex-column">{% csrf_token %} 
{% block page_title %}
    <h2 class="container-md text-center">¿Está seguro que desea borrar el post "{{object}}"?</h2>
{% endblock page_title %}
    <div class="d-flex justify-content-center align-items-center">
        <input type="submit" value="Elimnar" class="d-flex flex-row">
        <a href="{% url 'index' %}" class="ms-2">No, volver al inicio</a>
    </div>
        
</form>


</div>
{% endblock page_content %}